@media (max-width: 1400px) {
    .container {
        max-width: 980px;
    }
    .icon-logo {
        width: 79px;
    }
    .icon-logo img {
        width: 42px;
        height: 44px;
    }
    .icon-logo p {
        font-size: 8px;
        line-height: 9px;
    }
    .phone-link {
        margin-bottom: 7px;
        font-size: 18px;
        line-height: 21px;
    }

    .section-row {
        --section-row-x: 20px;
        --section-row-y: 30px;
    }
    .section-spacing {
        padding: 80px 0;
    }
    .section-pagination {
        margin-top: 30px;
    }
    .section-pagination__item {
        font-weight: 500;
    }

    .btn {
        font-size: 14px;
        line-height: 17px;
    }
    .btn-lizing::before {
        background-size: 20px 20px;
        width: 20px;
        height: 20px;
    }
    .btn-pagination {
        font-size: 16px;
        line-height: 19px;
    }


    .header-top__wrap {
        height: 87px;
    }
    .header-reg-phone {
        margin: 0 35px;
    }
    .header-region__span {
        font-size: 9px;
        line-height: 11px;
        left: 21px;
        top: -12px;
    }
    .header-region__preview {
        font-size: 18px;
        line-height: 21px;
    }
    .header-region__preview svg:first-of-type {
        width: 16px;
        height: 16px;
    }
    .header-region__preview svg:last-of-type {
        width: 8px;
        height: 8px;
    }
    .header-phone button {
        font-size: 14px;
        line-height: 17px;
    }
    .header-ask-search button {
        height: 45px;
        font-size: 14px;
        line-height: 17px;
    }
    .header-search {
        margin-left: 15px;
    }
    .header-search input {
        height: 45px;
        padding: 14px 35px 14px 10px;
        font-size: 14px;
        line-height: 17px;
    }
    .header-search input::placeholder {
        font-size: 14px;
        line-height: 17px;
    }
    .header-search svg {
        right: 10px;
    }
    .header-bottom__wrap {
        height: 75px;
    }
    .header__btn-catalogue {
        width: 220px;
        height: 45px;
        font-size: 14px;
        line-height: 17px;
    }
    .header__btn-catalogue span {
        margin: 0 10px;
    }
    .header-menu__link {
        font-size: 14px;
        line-height: 17px;
    }
    .header-menu__link-dropdown p:after {
        width: 14px;
        height: 14px;
        margin-left: 5px;
        margin-bottom: 5px;
    }
    .header-menu__link:not(:first-child) {
        margin-left: 20px;
    }


    .header-catalogue {
        top: 165px;
    }
    .header-catalogue__sidebar {
        max-width: 220px;
    }
    .header-catalogue__sidebar-wrap {
        min-height: 767px;
    }
    .header-catalogue__sidebar-btn {
        padding: 0 30px;
    }
    .header-catalogue__item {
        padding: 20px;
    }
    .header-catalogue__item-images .header-catalogue__item-wrap {
        margin: -15px -17px 0;
    }
    .header-catalogue__item-images .header-catalogue__item-wrap a {
        margin: 15px 17px 0;
        max-width: 142px;
        height: 20px;
    }
    .header-catalogue__link {
        padding: 0 20px;
    }
    .header-catalogue__cat-spares {
        width: 360px;
    }


    .slider-banner__swiper {
        height: 520px;
    }
    .slider-banner__slide-image {
        flex: 0 0 calc(50% + 290px);
    }
    .slider-banner__slide-content h3 {
        font-size: 22px;
        line-height: 26px;
    }
    .slider-banner__slide-content a {
        width: 240px;
        font-size: 16px;
        line-height: 19px;
    }
    .slider-banner .swiper-pagination .swiper-pagination-bullet {
        width: 12px;
        height: 12px;
        margin: 0 12px;
    }


    .catalogue-list__item {
        height: 100px;
    }
    .catalogue-list__item p {
        font-size: 10px;
        line-height: 12px;
        padding: 12px 0 16px;
    }
    .catalogue-list__item img {
        max-height: 48px;
        max-width: 70px;
    }


    .big-card {
        padding: 30px 15px 40px 20px;
    }
    .big-card h3 {
        font-size: 16px;
        line-height: 19px;
        margin-bottom: 20px;
    }
    .big-card__image {
        width: 280px;
        height: 226px;
    }
    .big-card__info {
        margin-left: 18px;
        max-width: 125px;
    }
    .big-card__info-item:not(:last-of-type) {
        margin-bottom: 10px;
    }
    .big-card__info p span {
        font-size: 14px;
        line-height: 17px;
    }
    .big-card__bottom {
        margin: 7px 0 30px;
    }
    .big-card__bottom h4 {
        font-size: 18px;
        line-height: 21px;
        margin-right: 10px;
    }
    .big-card__bottom p {
        font-size: 12px;
        line-height: 14px;
    }


    .form-banner__form > * {
        width: 220px;
    }
    .form-banner__form-input input {
        font-size: 14px;
        line-height: 17px;
        color: #D7D7D7;
    }
    .form-banner__form-input input::placeholder {
        font-size: 14px;
        line-height: 17px;
    }


    .why-us__item h4 {
        font-size: 14px;
        line-height: 17px;
    }


    .news__row {
        --section-row-x: 20px;
        --section-row-y: 25px;
    }
    .news-card__body p {
        font-size: 16px;
        line-height: 19px;
    }


    .footer-menu {
        margin-left: 60px;
    }
    .footer-menu__item:not(:last-of-type) {
        margin-right: 50px;
    }
    .footer-menu__item ul:not(:last-of-type) {
        margin-right: 20px;
    }

    .footer-contacts {
        margin-top: 39px;
    }
    .footer-contacts span {
        margin:  0 0 5px 19px;
    }
    .footer-contacts svg {
        width: 14px;
        height: 14px;
    }
    .footer-contacts__phone a {
        font-size: 16px;
        line-height: 19px;
    }
    .footer-contacts__phone button {
        margin-left: 19px;
    }

    .footer-contacts__address div {
        max-width: 172px;
    }
    .footer-contacts__address p {
        font-size: 16px;
        line-height: 19px;
    }

    .footer-bottom {
        margin-top: -20px;
    }
    .footer-bottom p {
        max-width: 340px;
    }
    .footer-bottom button {
        height: 45px;
        margin-left: 45px;
    }
}

@media (max-width: 991px) {
    .container {
        max-width: 660px;
    }

    .icon-logo img {
        width: 50px;
        height: 52px;
    }

    .section-row {
        --section-row-y: 25px;
    }
    .section-spacing {
        padding: 60px 0;
    }
    .section-title {
        padding-bottom: 30px;
    }


    .modal-container {
        padding: 50px 20px;
    }
    .modal-close {
        right: 20px;
    }
    .modal-title {
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 35px;
    }
    .modal__section-row {
        --section-row-x: 20px;
        --section-row-y: 30px;
    }
    .modal-input label {
        margin-bottom: 5px;
    }
    .modal-input__input {
        padding: 0 10px;
    }
    .modal-submit {
        margin: 10px 0 15px;
    }
    .modal-select-options {
        width: 280px;
        padding: 15px 10px;
    }
    .modal-lizing .modal-container {
        max-width: 620px;
    }


    .header {
        position: fixed;
        width: 100%;
        z-index: 10;
    }
    .header-mobile-spacer {
        padding-top: 162px;
    }
    .header-top {
        position: relative;
        z-index: 6;
        background: white;
    }
    .header-top__wrap {
        height: 95px;
    }
    .header-ask-search {
        display: none;
    }
    .header-reg-phone {
        margin: 0 0 0 37px;
    }
    .header-region {
        margin-right: 30px;
    }
    .header-bottom__wrap {
        height: 65px;
        margin: 0 -12px;
    }
    .header-bottom .header-search, .header-bottom .header__btn-ask {
        display: flex;
    }
    .header-bottom__wrap > * {
        flex: 1;
        margin: 0 12px;
    }
    .header-bottom .header__btn-ask {
        height: 45px;
    }
    .header-menu {
        display: none;
    }
    .header__btn-catalogue {
        width: 190px;
    }
    .header__btn-catalogue span {
        margin: 0 0 0 10px;
    }
    .header__btn-catalogue svg {
        display: none;
    }
    .header-burger {
        display: block;
    }
    .header hr:first-of-type {
        position: relative;
        z-index: 6;
    }
    .header-burger__wrap {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        position: fixed;
        top: 0;
        right: -100%;
        width: 100%;
        background: #FFFFFF;
        z-index: 5;
        padding: 96px 0 40px;
        -webkit-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
        overflow: auto;
        min-height: 100vh;
        max-height: 100vh;
        margin: 0;
    }
    .header-burger__wrap .container {
        width: 100%;
    }
    .header-burger__wrap .header-search {
        margin: 10px 0 0;
    }
    .header-burger__wrap .header-menu {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 45px 15px;
        border-bottom: 1px solid #D9D9D9;
    }
    .header-menu__link {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .header-menu__link:not(:first-child) {
        margin: 25px 0 0;
    }
    .header-menu__link-collapse {
        max-height: 19px;
        overflow: hidden;
        transition: max-height 0.3s ease-in-out;
    }
    .header-menu__link-collapse p {
        display: flex;
        align-items: center;
        margin-bottom: 25px;
    }
    .header-menu__link-collapse p:after {
        content: url("../media/icons/dropdownArrowIcon.svg");
        width: 18px;
        height: 18px;
        margin-left: 5px;
        transition: transform .2s;
    }
    .header-menu__link-collapse--active {
        max-height: 1000px;
    }
    .header-menu__link-collapse--active p:after {
        transform: rotate(180deg);
    }
    .header-menu__link-collapse__list {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .header-menu__link-collapse__list a {
        font-size: 14px;
        line-height: 17px;
        color: #858585;
    }
    .header-menu__link-collapse__list a:not(:first-child) {
        margin-top: 20px;
    }
    .header-burger__wrap .header__btn-ask {
        max-width: 320px;
        width: 100%;
        margin-top: 45px;
    }
    .header-burger__wrap .header-phone {
        display: none;
        margin-left: 10px;
    }
    body.burger .header-burger__wrap {
        right: 0;
    }
    body.burger .header-burger {
        background-image: url('../media/icons/burgerMenuIcon-opened.svg');
    }


    .header-catalogue {
        top: 161px;
        position: fixed;
        max-height: calc(100vh - 160px);
        overflow: auto;
    }
    .header-catalogue__sidebar {
        max-width: 190px;
    }
    .header-catalogue__sidebar-btn {
        font-size: 14px;
        line-height: 17px;
        padding: 0 20px;
        height: 47px;
    }
    .header-catalogue__sidebar-wrap {
        min-height: 423px;
    }
    .header-catalogue__cat {
        padding-bottom: 50px;
    }
    .header-catalogue__item {
        padding: 15px 25px;
    }
    .header-catalogue__item p {
        font-size: 14px;
        line-height: 17px;
        padding-bottom: 30px;
    }
    .header-catalogue__item-wrap {
        margin: -15px -12px 0;
    }
    .header-catalogue__item-wrap a {
        margin: 15px 12px 0;
        font-size: 14px;
        line-height: 17px;
    }
    .header-catalogue__item-images {
        min-height: 93px;
    }
    .header-catalogue__item-images .header-catalogue__item-wrap {
        margin: -15px -8px 0;
    }
    .header-catalogue__item-images .header-catalogue__item-wrap a {
        margin: 15px 8px 0;
        max-width: 99px;
        height: 12px;
        flex: 1;
    }
    .header-catalogue__item-images .header-catalogue__item-wrap a:last-of-type {
        flex: 2;
    }
    .header-catalogue__item-capacity {
        min-height: 282px;
    }
    .header-catalogue__item-capacity a {
        width: 110px;
    }
    .header-catalogue__item-arrow a {
        width: 43px;
    }
    .header-catalogue__item-chassis {
        min-height: 143px;
    }

    .header-catalogue__cat-link {
        height: 50px;
        margin: 35px auto 0;
    }
    .header-catalogue__link {
        height: 47px;
        padding: 0 25px;
        font-size: 14px;
        line-height: 17px;
    }
    .header-catalogue__cat-spares {
        width: 100%;
    }


    .slider-banner__swiper {
        height: auto;
    }
    .slider-banner__swiper .swiper-slide {
        flex-direction: column-reverse;
        padding: 30px 0 50px;
    }
    .slider-banner__slide-image {
        flex: auto;
        transform: none;
        margin-left: -5%;
        margin-bottom: 9px;
    }
    .slider-banner__slide-body {
        max-width: 100%;
    }
    .slider-banner__slide-body-text {
        display: flex;
        flex-wrap: wrap;
        margin-top: 10px;
    }
    .slider-banner__slide-content h3 {
        font-size: 22px;
        line-height: 26px;
    }
    .slider-banner__slide-content p {
        flex: 50%;
    }
    .slider-banner__slide-content a {
        width: 360px;
    }


    .catalogue-list__container {
        flex-wrap: wrap;
    }
    .catalogue-list__item {
        flex: 25%;
    }
    .catalogue-list__item p {
        font-size: 12px;
        line-height: 14px;
        padding: 10px 0 16px;
    }
    .catalogue-list__item img {
        max-height: 46px;
    }


    .big-card {
        padding: 15px 10px 40px;
    }
    .big-card__main {
        flex-direction: column;
    }
    .big-card__image {
        width: 100%;
        margin-bottom: 5px;
    }
    .big-card__info {
        margin: 0;
        max-width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    .big-card__info-item {
        flex: 50%;
        margin: 10px 0 0;
    }
    .big-card__info-item:nth-of-type(2n) {
        display: flex;
        justify-content: center;
    }
    .big-card__bottom {
        margin: 15px 0 25px;
        flex-direction: column;
        align-items: flex-start;
    }
    .big-card__bottom h4 {
        margin: 0;
    }
    .big-card__bottom p {
        margin: 5px 0 0;
    }
    .big-card__buttons {
        flex-direction: column;
        --section-row-y: 20px;
    }


    .about-company__bg {
        padding: 30px 0 50px;
    }
    .about-company h6 {
        margin-bottom: 15px;
    }
    .about-company img {
        height: 260px;
    }

    .form-banner {
        padding: 30px 0 50px;
    }
    .form-banner p {
        margin: 15px 0 35px;
    }
    .form-banner__form {
        flex-direction: column;
        max-width: 400px;
        margin: 0 auto;
    }

    .form-banner__form > * {
        width: 100%;
    }
    .form-banner__form > *:not(:last-child) {
        margin-bottom: 20px;
    }


    .why-us p {
        margin: 15px 0 30px;
    }


    .producers {
        padding: 30px 0 50px;
    }
    .producers__item {
        height: 74px;
        padding: 10px;
    }


    .news__row {
        --section-row-x: 10px;
        --section-row-y: 15px;
    }
    .news-card__body {
        padding: 15px 10px 35px;
    }
    .news-card__image {
        height: 220px;
    }
    .news-card__body p {
        font-size: 14px;
        line-height: 17px;
    }
    .news__row-bottom {
        margin-top: 30px;
    }
    .news__btn-show-more {
        max-width: 360px;
        margin: 0 auto;
    }


    .map__container {
        max-width: 100%;
        padding: 0;
        flex-direction: column;
    }
    .map h2 {
        max-width: 660px;
        padding: 0 20px;
        width: 100%;
    }
    .map-title {
        width: 100%;
        border-bottom: 1px solid #D9D9D9;
    }
    .map h2 {
        margin: 0 auto;
        padding-bottom: 30px;
    }



    .footer {
        padding: 30px 0 45px;
    }
    .footer-left {
        flex: 100%;
    }
    .footer-menu {
        flex: 1;
    }
    .footer-menu__item {
        flex: auto;
    }
    .footer-menu__item:not(:last-of-type) {
        margin-right: 30px;
    }
    .footer-menu__item ul:not(:last-of-type) {
        margin-right: 25px;
    }
    .footer-menu__item h5 {
        font-size: 14px;
        line-height: 17px;
        margin-bottom: 15px;
    }
    .footer-menu__item ul li {
        font-size: 12px;
        line-height: 14px;
    }

    .footer-contacts {
        order: 3;
        flex: 50%;
        display: flex;
        justify-content: space-between;
    }
    .footer-contacts span {
        margin:  0 0 5px 17px;
    }
    .footer-contacts svg {
        width: 12px;
        height: 12px;
    }
    .footer-contacts__phone a {
        font-size: 12px;
        line-height: 14px;
        margin-bottom: 5px;
    }
    .footer-contacts__phone button {
        margin: 0;
        font-size: 12px;
        line-height: 14px;
    }

    .footer-contacts__address div {
        max-width: 147px;
    }
    .footer-contacts__address p {
        font-size: 12px;
        line-height: 14px;
    }

    .footer-bottom {
        margin-top: 30px;
        flex: 50%;
        flex-direction: column;
        align-items: flex-start;
    }
    .footer-bottom p {
        max-width: 300px;
        font-size: 8px;
        line-height: 9px;
    }
    .footer-bottom__credits a {
        margin: 10px 0 5px;
        font-size: 10px;
        line-height: 12px;
    }
    .footer-bottom button {
        width: 220px;
        margin: 20px 0 0;
    }
}

@media (max-width: 660px) {
    .container {
        padding: 0 10px;
    }


    .section-spacing {
        padding: 50px 0;
    }
    .section-title {
        font-size: 20px;
        line-height: 24px;
    }
    .section-pagination__item {
        margin: 0 12px;
    }

    .modal {
        padding: 0 10px;
    }
    .modal-container {
        padding: 45px 10px 35px;

    }
    .modal-close {
        top: 15px;
        right: 10px;
    }
    .modal-title {
        margin-bottom: 25px;
    }
    .modal-input label {
        margin-bottom: 10px;
    }
    .modal-submit {
        margin: 15px 0;
    }
    .modal-select-options {
        width: 300px;
    }


    .header-logo {
        width: 60px;
    }
    .header-logo img {
        width: 40px;
        height: 42px;
    }
    .header-logo p {
        font-size: 6px;
        line-height: 7px;
    }
    .header-ask-search {
        display: block;
        margin: 0 20px;
    }
    .header-ask-search .header__btn-ask {
        display: none;
    }
    .header-search {
        margin: 0;
    }
    .header-search input {
        height: 40px;
    }
    .header-reg-phone {
        display: none;
    }
    .header-phone--mobile {
        display: block;
        margin-right: 22px;
    }
    .header-bottom__wrap {
        margin: 0 -5px;
    }
    .header-bottom__wrap > * {
        margin: 0 5px;
    }
    .header-bottom .header-search {
        display: none;
    }
    .header__btn-catalogue span {
        margin: 0 0 0 5px;
    }
    .header-burger {
        margin: 0 0 0 auto;
    }
    .header-burger__wrap .header-menu {
        padding: 25px 20px;
        margin: 0 -10px;
    }
    .header-burger__wrap .header-search {
       display: none;
    }
    .header-burger__wrap .header__btn-ask {
        margin: 25px 0;
        max-width: 400px;
    }
    body.burger .header-phone--mobile {
        display: none;
    }
    .header-burger__wrap .header-phone {
        display: inline-block;
    }


    .header-catalogue .container {
        padding: 0;
    }
    .header-catalogue__content {
        display: none;
    }
    .header-catalogue__sidebar {
        max-width: 100%;
    }
    .header-catalogue__sidebar-wrap {
        min-height: auto;
    }
    .header-catalogue__sidebar-item {
        max-height: 47px;
        overflow: hidden;
        transition: max-height 0.2s ease-in-out;
    }
    .header-catalogue__sidebar-item--active {
        max-height: 1000px;
    }
    .header-catalogue__sidebar-item .header-catalogue__cat {
        display: block;
        padding: 0 0 47px;
    }
    .header-catalogue__sidebar-btn {
        padding: 0 35px;
    }
    .header-catalogue__item {
        padding: 0 35px 15px!important;
        max-height: 47px;
        overflow: hidden;
        min-height: auto!important;
        transition: max-height 0.2s ease-in-out;
    }
    .header-catalogue__item p {
        padding: 15px 0 10px;
        margin-bottom: 10px;
        position: relative;

    }
    .header-catalogue__item p::after {
        content: url("../media/icons/dropdownPolygonIcon.svg");
        width: 8px;
        height: 8px;
        position: absolute;
        top: 12px;
        right: 0;
        opacity: 0;
        transition: opacity .2s;
    }
    .header-catalogue__item--active {
        max-height: 1000px;
    }
    .header-catalogue__item--active p::after {
        opacity: 1;
    }
    .header-catalogue__item-images a span {
        display: block;
    }
    .header-catalogue__item-images a img {
        display: none;
    }
    .header-catalogue__item-wrap {
        flex-direction: column;
        align-items: flex-start;
    }
    .header-catalogue__link {
        padding: 0 35px;
    }
    .header-catalogue__cat-link {
        height: 45px;
        margin-top: 20px;
    }
    .header-catalogue__cat-spares .header-catalogue__cat-link {
        margin-top: 40px;
    }



    .slider-banner__slide-image {
        margin-bottom: 20px;
    }
    .slider-banner__slide-content {
        width: 100%;
    }
    .slider-banner__slide-content h3 {
        max-width: 200px;
        font-size: 20px;
        line-height: 24px;
    }
    .slider-banner__slide-body-text {
        flex-direction: column;
        margin-top: 5px;
    }
    .slider-banner__slide-content p {
        flex: 100%;
        margin-top: 10px;
    }
    .slider-banner__slide-content a {
        max-width: 360px;
        width: 100%;
        margin: 30px auto 0;
    }
    .slider-banner .swiper-pagination {
        margin-top: 25px;
    }
    .slider-banner .swiper-pagination .swiper-pagination-bullet {
        width: 8px;
        height: 8px;

    }


    .catalogue-list {
        padding: 25px 0;
    }
    .catalogue-list__container {
        display: none;
    }



    .big-card {
        padding: 30px 20px;
    }
    .big-card h3 {
        margin-bottom: 15px;
    }


    .about-company__bg {
        padding: 30px 0 35px;
    }
    .about-company h6 {
        font-size: 16px;
        line-height: 19px;
    }
    .about-company .section-row {
        --section-row-y: 15px;
    }

    .form-banner {
        padding: 30px 0 40px;
    }
    .form-banner h2 {
        font-size: 20px;
        line-height: 24px;
    }
    .form-banner p {
        font-size: 16px;
        line-height: 19px;
        margin: 15px 0 25px;
    }


    .why-us h6 {
        font-size: 16px;
        line-height: 19px;
    }
    .why-us__item h4 {
        max-width: 300px;
        margin: 0 auto;
    }


    .producers {
        padding: 30px 0 35px;
    }
    .producers__item {
        height: 74px;
        padding: 10px;
    }
    .producers__row {
        --section-row-y: 30px;
    }


    .news__row {
        --section-row-y: 25px;
    }
    .news-card__body {
        padding: 15px 10px 30px;
    }
    .news-card__image {
        height: 200px;
    }


    .map__container {
        padding: 0;
    }
    .map h2 {
        padding: 0 10px 30px;
    }
    .map-wrap__item {
        font-size: 7px;
        line-height: 9px;
    }


    .footer {
        padding: 30px 0 50px;
    }
    .footer-left {
        flex-direction: column;
        align-items: center;
    }
    .footer-menu {
        margin: 25px 0 0;
        text-align: center;
        flex-direction: column;
    }
    .footer-menu__item {
        max-height: 17px;
        overflow: hidden;
        transition: max-height 0.2s ease-in-out;
    }
    .footer-menu__item-list {
        display: block;
    }
    .footer-menu__item:not(:last-of-type) {
        margin: 0 0 20px 0;
    }
    .footer-menu__item ul:not(:last-of-type) {
        margin-right: 0;
    }
    .footer-menu__item h5 {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .footer-menu__item h5 img {
        display: block;
        transition: transform .2s ease-in-out;
    }

    .footer-menu__item--active {
        max-height: 1000px;
    }
    .footer-menu__item--active h5 img {
        transform: rotate(180deg);
    }

    .footer-contacts {
        order: 0;
        flex-direction: column;
        align-items: center;
    }
    .footer-contacts__phone button {
        margin-left: 17px;
    }

    .footer-bottom {
        margin-top: 30px;
        flex: 100%;
        align-items: center;
        text-align: center;
    }
    .footer-bottom button {
        max-width: 340px;
        width: 100%;
        margin: 30px 0 0;
    }
}

@media (max-width: 355px) {
    .header__btn-catalogue {
        font-size: 12px;
        line-height: 15px;
    }
}


@media (min-width: 660px) {
    .section-col-sm-6 {
        flex: 0 0 auto;
        width: 50%!important;
    }
    .section-col-sm-4 {
        flex: 0 0 auto;
        width: 33.33333333%;
    }
    .section-col-sm-3 {
        flex: 0 0 auto;
        width: 25%!important;
    }
}
@media (min-width: 991px) {
    .section-col-md-6 {
        flex: 0 0 auto;
        width: 50%!important;
    }
    .section-col-md-3 {
        flex: 0 0 auto;
        width: 25%!important;
    }
}
