:root {
    --color-bg-one: #E9FBFE;
    --color-blue: #08526C;
    --color-blue-one: #57BADC;
    --color-green: #24B37F;
    --color-black: #181818;
    --color-card-grey: #4A4A4A;
    --color-card-grey-one: #858585;
    --color-grey: #D9D9D9;
    --color-stroke: #F3F3F3;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif!important;
}
img {
    object-fit: contain;
    max-width: 100%;
}
a {
    color: inherit;
    text-decoration: none;
}

.visually-hidden {
    border: 0;
    padding: 0;
    margin: 0;
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
    clip: rect(1px, 1px, 1px, 1px); /*maybe deprecated but we need to support legacy browsers */
    clip-path: inset(50%); /*modern browsers, clip-path works inwards from each corner*/
    white-space: nowrap; /* added line to stop words getting smushed together (as they go onto seperate lines and some screen readers do not understand line feeds as a space */
}
.tippy-box[data-theme~='default-dropdown-theme'] {
    background: none;
}
.tippy-box[data-theme~='default-dropdown-theme'] .tippy-content {
    padding: 0;
}

.container {
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 20px;
}
.icon-logo {
    width: 99px;
    text-align: center;
}
.icon-logo img {
    width: 66px;
    height: 62px;
    margin-bottom: 5px;
}
.icon-logo p {
    font-family: 'Roboto', sans-serif!important;
    font-weight: 700;
    font-size: 10px;
    line-height: 12px;
    text-transform: uppercase;
    color: #00869D;
}
.phone-link {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #181818;
    transition: color .2s;
}
.phone-link svg {
    margin-right: 5px;
}

.section-row {
    --section-row-x: 40px;
    display: flex;
    flex-wrap: wrap;
    margin-right: calc(-0.5 * var(--section-row-x));
    margin-left: calc(-0.5 * var(--section-row-x));
}
.section-row > * {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--section-row-x) * 0.5);
    padding-left: calc(var(--section-row-x) * 0.5);
}
.section-row-y {
    --section-row-y: 40px;
    margin-top: calc(-1 * var(--section-row-y));
}
.section-row-y > * {
    margin-top: var(--section-row-y);
}
.section-col-3 {
    flex: 0 0 auto;
    width: 25%;
}
.section-col-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
}
.section-col-6 {
    flex: 0 0 auto;
    width: 50%;
}
.section-col-12 {
    flex: 0 0 auto;
    width: 100%;
}

.section-pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}
.section-pagination__item {
    cursor: pointer;
    background: none;
    border: none;
    line-height: 19px;
    color: var(--color-card-grey-one);
    margin: 0 17px;
    height: 24px;
    transition: color .2s;
}
.section-pagination__item svg {
    transition: fill .2s;
}
.section-pagination__item:hover {
    color: var(--color-blue);
}
.section-pagination__item:hover svg {
    fill: var(--color-blue);
}
.section-pagination__item--active {
    color: var(--color-blue);
}
.section-title {
    display: flex;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    color: var(--color-blue);
    padding-bottom: 50px;
}
.section-title:before {
    content: '';
    width: 4px;
    background: #58BBDC;
    margin-right: 5px;
}
.section-spacing {
    padding: 90px 0;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background: none;
    border: none;
    border-radius: 2px;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}
.btn-more {
    height: 50px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
    transition: box-shadow .2s;
    border-radius: 3px;
}
.btn-more:hover {
    box-shadow: none;
}
.btn-lizing {
    width: 100%;
    height: 50px;
    border: 1px solid var(--color-blue);
    filter: drop-shadow(0px 4px 16px rgba(0, 0, 0, 0.2));
    border-radius: 3px;
    color: var(--color-blue);
    transition: color, background .2s;
}
.btn-lizing::before {
    content:"";
    background-image: url("../media/icons/lizingBtnIcon.png");
    background-size: 24px 24px;
    background-repeat: no-repeat;
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-right: 10px;

}
.btn-lizing:hover {
    background: var(--color-blue);
    color: white;
}
.btn-lizing:hover::before {
    background-image: url("../media/icons/lizingBtnIcon-white.png");
}
.btn-pagination {
    width: 100%;
    height: 60px;
    background: var(--color-blue);
    border-radius: 6px;
    margin-top: 20px;
}
.btn-commercial-offer {
    background: #58BBDC;
}



.header {
    background: white;
}
.header hr {
    border: 0;
    border-top: 1px solid #D9D9D9;
}
.header-top__wrap {
    height: 115px;
    display: flex;
    align-items: center;
}
.header-burger {
    display: none;
    width: 34px;
    height: 34px;
    background-size: 34px 34px;
    background-image: url('../media/icons/burgerMenuIcon.svg');
    background-repeat: no-repeat;
    margin: 0 0 15px auto;
}
.header-burger__wrap {
    display: none;
}
.header-reg-phone {
    display: flex;
    margin: 0 35px 0 45px;
}
.header-region {
    margin-right: 35px;
    position: relative;
}
.header-region__span {
    position: absolute;
    font-size: 10px;
    line-height: 12px;
    color: #9B9B9B;
    top: -15px;
    left: 23px;
}
.header-region__preview {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: color .2s;
}
.header-region__preview:hover {
    color: #08526C;
}
.header-region__preview span {
    margin: 0 6px 0 5px;
}
.header-region__preview svg:last-of-type {
    margin-top: 3px;
    transition: transform .2s, fill .2s;
}
.header-region__preview:hover svg:last-of-type {
    fill: #08526C;
}
.header-region__list {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 20px 20px 23px;
    background: #FFFFFF;
    border: 1px solid #F3F3F3;
    box-shadow: 4px 4px 20px rgba(143, 143, 143, 0.15);
    border-radius: 3px;
    max-height: 400px;
    width: 240px;
    overflow: auto;
}
.header-region__list a {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #858585;
    transition: color .2s;
}
.header-region__list a:hover {
    color: #08526C;
}
.header-region__list a:not(:last-of-type) {
    margin-bottom: 10px;
}
.header-region--active .header-region__list {
    display: flex;
}
.header-region--active .header-region__preview {
    color: #08526C;
}
.header-region--active .header-region__preview svg:last-of-type {
    transform: rotate(180deg);
    fill: #08526C;
}
.header-phone--mobile {
    display: none;
}
.header-phone a:hover {
    color: #08526C;
}
.header-phone button {
    color: var(--color-blue);
    display: block;
    margin-left: auto;
    position: relative;
}
.header-phone button::before {
    content: '';
    height: 1px;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    background: #08526C;
    opacity: 0;
    transition: opacity .2s;
}
.header-phone button:hover::before {
    opacity: 1;
}
.header-ask-search {
    display: flex;
    align-items: center;
    flex: 1;
}
.header__btn-ask {
    width: 180px;
    height: 50px;
    background: var(--color-green);
    border-radius: 3px;
    transition: box-shadow .2s;
}
.header__btn-ask:hover {
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
}
.header-search {
    flex: 1;
    position: relative;
    margin-left: 30px;
}
.header-search input {
    width: 100%;
    height: 50px;
    padding: 15px 60px 16px 15px;
    outline: none;
    line-height: 19px;
    color: var(--color-card-grey-one);
    font-size: 16px;
    border: 1px solid #08526C;
    border-radius: 3px;
}
.header-search input::placeholder {
    line-height: 19px;
    color: var(--color-card-grey-one);
}
.header-search svg {
    position: absolute;
    right: 15px;
    top: 0;
    bottom: 0;
    margin: auto;
}
.header-bottom__wrap {
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-bottom .header-search, .header-bottom .header__btn-ask {
    display: none;
}
.header__btn-catalogue {
    width: 260px;
    height: 60px;
    background: var(--color-blue);
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    transition: box-shadow .2s;
}
.header__btn-catalogue:hover {
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
}
.header__btn-catalogue span {
    margin: 0 5px 0 10px;
}
.header-menu {
    display: flex;
    align-items: center;
}
.header-menu__link {
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    color: var(--color-black);
    transition: color .2s;
}
.header-menu__link:hover {
    color: #08526C;
}
.header-menu__link:hover svg {
    fill: #08526C;
}
.header-menu__link--active {
    font-weight: 500;
    color: #08526C;
}
.header-menu__link:not(:first-child) {
    margin-left: 30px;
}
.header-menu__link-dropdown p {
    display: flex;
    align-items: center;
    cursor: pointer;
}
.header-menu__link-dropdown p:after {
    content: url("../media/icons/dropdownArrowIcon.svg");
    width: 16px;
    height: 16px;
    margin-left: 1px;
    transition: transform .2s;
    margin-bottom: 1px;
}
.header-menu__link-dropdown__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    background: #FFFFFF;
    border: 1px solid #F3F3F3;
    box-shadow: 4px 4px 20px rgba(143, 143, 143, 0.15);
    border-radius: 3px;
    max-height: 200px;
    width: 200px;
    overflow: auto;
}
.header-menu__link-dropdown .header-menu__link-dropdown__list {
    display: none;
}
.header-menu__link-dropdown__list a {
    font-size: 14px;
    line-height: 17px;
    color: #858585;
    text-transform: uppercase;
}
.header-menu__link-dropdown__list a:hover {
    color: #08526C;
}
.header-menu__link-dropdown__list a:not(:last-child) {
    margin-bottom: 10px;
}
.header-menu__link-dropdown--active p {
    color: #08526C;
}
.header-menu__link-dropdown--active p:after {
    transform: rotate(180deg);
}



.breadcrumbs {
    height: 45px;
}
.breadcrumbs__container {
    height: 100%;
}
.breadcrumbs-hidden .breadcrumbs__container {
    display: none;
}
.breadcrumbs ul {
    height: 100%;
    display: flex;
    align-items: center;
}
.breadcrumbs__item {
    font-size: 14px;
    line-height: 17px;
    color: var(--color-card-grey-one);
    display: flex;
}
.breadcrumbs__item:not(:last-of-type):after {
    content: url("../media/icons/breadcrumbsArrowIcon.svg");
    width: 16px;
    height: 16px;
    margin: 0 5px;
}
.breadcrumbs__item--active {
    color: var(--color-black);
}



.slider-banner__swiper {
    background: var(--color-blue-one);
    height: 600px;
}
.slider-banner__swiper .swiper-slide {
    display: flex;
    align-items: center;
}
.slider-banner__slide-content {
    flex: 0 0 100%;
    color: white;
}
.slider-banner__slide-body {
    max-width: 300px;
}
.slider-banner__slide-image {
    flex: 0 0 calc(50% + 400px);
    transform: translate(-100%, 0);
}
.slider-banner__slide-content h3 {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
}
.slider-banner__slide-content p {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    margin-top: 15px;
}
.slider-banner__slide-content p span {
    font-weight: 400;
}
.slider-banner__slide-content a {
    width: 230px;
    background: var(--color-green);
    margin-top: 30px;
    position: relative;
    z-index: 1;
}
.slider-banner .swiper-pagination {
    position: static;
    margin-top: 30px;
}
.slider-banner .swiper-pagination .swiper-pagination-bullet {
    width: 14px;
    height: 14px;
    background: #FFFFFF;
    border: 1px solid var(--color-blue);
    border-radius: 2px;
    margin: 0 17px;
    opacity: 1;
    transition: box-shadow .2s;
}
.slider-banner .swiper-pagination .swiper-pagination-bullet:hover {
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
}
.slider-banner .swiper-pagination .swiper-pagination-bullet-active {
    background: #08526C;
}


.catalogue-list__container {
    display: flex;
}
.catalogue-list__item {
    flex: 1;
    height: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    background: var(--color-blue-one);
    border: 1px solid var(--color-blue);
    transition: box-shadow .2s;
}
.catalogue-list__item:hover {
    box-shadow: 3px 3px 8px rgba(0, 108, 145, 0.4);
}
.catalogue-list__item p {
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
    color: #FFFFFF;
    padding: 15px 0 20px;
}
.catalogue-list__item img {
    max-height: 63px;
}
.catalogue-list__item--active {
    background: #08526C;
}

.big-card {
    height: 100%;
    padding: 30px 20px 40px;
    border: 1px solid #F3F3F3;
    box-shadow: 4px 4px 20px rgba(143, 143, 143, 0.15);
    border-radius: 3px;
}
.big-card h3 {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: var(--color-blue);
    word-break: break-word;
    margin-bottom: 35px;
}
.big-card__main {
    display: flex;
}
.big-card__image {
    width: 350px;
    height: 280px;
}
.big-card__image img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.big-card__info {
    margin-left: 30px;
    flex: 1;
    max-width: 160px;
}
.big-card__info-item:not(:last-of-type) {
    margin-bottom: 15px;
}
.big-card__info p {
    font-size: 12px;
    line-height: 14px;
    color: var(--color-card-grey-one);
    word-break: break-word;
}
.big-card__info p span {
    display: block;
    margin-top: 5px;
    font-size: 16px;
    line-height: 19px;
    color: var(--color-card-grey);
}
.big-card__bottom {
    display: flex;
    align-items: flex-end;
    margin: 20px 0 30px;
}
.big-card__bottom h4 {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: var(--color-blue);
    margin-right: 20px;
}
.big-card__bottom p {
    font-size: 14px;
    line-height: 17px;
    color: var(--color-blue);
    margin-bottom: 3px;
}
.big-card__buttons.section-row {
    --section-row-x: 20px;
}
.big-card__buttons a {
    background: #58BBDC;
}


.about-company__bg {
    background: var(--color-bg-one);
    padding: 50px 0 70px;
}
.about-company h6 {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: var(--color-black);
    margin-bottom: 20px;
}
.about-company p {
    line-height: 19px;
    color: #4A4A4A;
}
.about-company p:not(:last-of-type) {
    margin-bottom: 10px;
}
.about-company img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.form-banner {
    position: relative;
    padding: 50px 0 60px;
    color: white;
    text-align: center;
    overflow: hidden;
}
.form-banner__container {
    position: relative;
    z-index: 1;
}
.form-banner h2 {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
}
.form-banner p {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    margin: 20px 0 50px;
}
.form-banner-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), linear-gradient(0deg, rgba(8, 82, 108, 0.8), rgba(8, 82, 108, 0.8));
}
.form-banner-bg img {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    z-index: -1;
}
.form-banner__form {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.form-banner__form > * {
    width: 260px;
    height: 50px;
}
.form-banner__form-input input {
    width: 100%;
    height: 100%;
    border: 1px solid #FFFFFF;
    border-radius: 3px;
    background: none;
    outline: none;
    line-height: 19px;
    color: #FFFFFF;
    padding: 0 20px;
}
.form-banner__form-input input::placeholder {
    color: white;
}
.form-banner__form-submit {
    background: #24B37F;
}


.why-us h6 {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: var(--color-black);
    max-width: 560px;
}
.why-us p {
    line-height: 19px;
    color: var(--color-card-grey);
    margin: 20px 0 50px;
}
.why-us__row {
    --section-row-x: 20px;
    --section-row-y: 20px;
}
.why-us__item {
    box-shadow: 4px 4px 20px rgba(143, 143, 143, 0.15);
    border-radius: 3px;
    background: white;
}
.why-us__item-image {
    background: #58BBDC;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px 0 25px;
}
.why-us__item-image img {
    width: 100px;
    height: 100px;
}
.why-us__item h4 {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    color: #08516B;
    padding: 30px 10px 40px;
}


.producers {
    background: #E9FBFE;
    padding: 50px 0 70px;
}
.producers__row {
    --section-row-x: 20px;
    --section-row-y: 30px;
}
.producers__item {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 28px;
    background: #FFFFFF;
    box-shadow: 4px 4px 20px rgba(143, 143, 143, 0.15);
    border-radius: 3px;
}


.news__row {
    --section-row-x: 30px;
    --section-row-y: 35px;
}
.news__row-bottom {
    justify-content: center;
    margin-top: 50px;
}
.news-card {
    background: #FFFFFF;
    box-shadow: 4px 4px 20px rgba(143, 143, 143, 0.15);
    border-radius: 3px;
}
.news-card__image {
    height: 280px;
}
.news-card__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.news-card__body {
    padding: 10px 10px 40px;
}
.news-card__body span {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #858585;
}
.news-card__body p {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #181818;
    margin-top: 10px;
    word-break: break-word;
}
.news__btn-show-more {
    background: #08526C;
    width: 100%;
}

.map__container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.map-wrap {
    position: relative;
}
.map-wrap img {
    max-width: 100%;
    display: block;
    width: 100%;
}
.map-wrap__item {
    position: absolute;
    text-align: center;
    font-weight: 500;
    font-size: 10.8px;
    line-height: 14px;
    color: #000000;
    text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}
.map-wrap__item::after {
    content: '';
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #58BBDC;
    border: 1px solid #08526C;
    display: block;
    margin: 2px auto 0;
}
.map-wrap__item--active {
    font-size: 12px;
    line-height: 15px;
}
.map-wrap__item--active::after {
    width: 24px;
    height: 24px;
}
.map-wrap__item-moscow {
    top: 33%;
    left: 28.5%;
}
.map-wrap__item-ufa {
    top: 37%;
    left: 51.5%;
}
.map-wrap__item-surgut {
    top: 4%;
    left: 72%;
}
.map-wrap__item-speter {
    top: 11%;
    left: 18%;
}
.map-wrap__item-novosi{
    top: 35.5%;
    left: 82.5%;
}


.map-dropdown__preview {
    width: 320px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    border: 1px solid #D9D9D9;
    border-radius: 3px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #08526C;
    cursor: pointer;
}
.map-dropdown__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 10px;
    background: #FFFFFF;
    border: 1px solid #F3F3F3;
    box-shadow: 4px 4px 20px rgba(143, 143, 143, 0.15);
    border-radius: 3px;
    max-height: 320px;
    width: 320px;
    overflow: auto;
}
.map-dropdown .map-dropdown__list {
    display: none;
}
.map-dropdown__list p {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #858585;
    transition: color .2s;
    cursor: pointer;
}
.map-dropdown__list p:hover {
    color: #08526C;
}
.map-dropdown__list p:not(:last-of-type) {
    margin-bottom: 10px;
}


.footer {
    background: #002E3F;
    padding: 30px 0 60px;
}
.footer__container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-left {
    display: flex;
}
.footer-menu {
    display: flex;
    flex-wrap: wrap;
    margin-left: 80px;
}
.footer-menu__item:not(:last-of-type) {
    margin-right: 80px;
}
.footer-menu__item h5 {
    font-weight: 500;
    line-height: 19px;
    color: #FFFFFF;
    margin-bottom: 20px;
}
.footer-menu__item h5 img {
    width: 14px;
    height: 14px;
    display: none;
}
.footer-menu__item-list {
    display: flex;
}
.footer-menu__item ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.footer-menu__item ul:not(:last-of-type) {
    margin-right: 30px;
}
.footer-menu__item ul li {
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}
.footer-menu__item ul li a {
    transition: color .2s;
}
.footer-menu__item ul li a:hover {
    color: #58BBDC;
}
.footer-menu__item ul li:not(:last-of-type) {
    margin-bottom: 10px;
}

.footer-contacts svg {
    width: 18px;
    height: 18px;
    margin-right: 5px;
}
.footer-contacts span {
    font-size: 10px;
    line-height: 12px;
    color: #D9D9D9;
    margin:  0 0 5px 21px;
    display: block;
}
.footer-contacts__phone {
    margin-bottom: 30px;
}
.footer-contacts__phone a {
    color: white;
}
.footer-contacts__phone a:hover {
    color: #58BBDC;
}
.footer-contacts__phone button {
    line-height: 19px;
    color: #58BBDC;
    border-bottom: 1px solid #58BBDC;
    transition: color .2s, border-bottom-color .2s;
}
.footer-contacts__phone button:hover {
    color: #FFFFFF;
    border-bottom-color: #FFFFFF;
}

.footer-contacts__address div {
    display: flex;
    align-items: flex-start;
    max-width: 236px;
}
.footer-contacts__address p {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    flex: 1;
}

.footer-bottom {
    display: flex;
    align-items: flex-end;
}
.footer-bottom__credits p {
    font-size: 10px;
    line-height: 12px;
    color: #FFFFFF;
}
.footer-bottom__credits a {
    display: inline-block;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
    margin: 15px 0 5px;
    transition: color .2s;
}
.footer-bottom__credits a:hover {
    color: #58BBDC;
}
.footer-bottom button {
    width: 260px;
    height: 50px;
    margin-left: 84px;
    transition: color .2s;
}
.footer-bottom button:hover {
    color: #08526C;
}