/*Default Start*/
:root {
    --color-bg-one: #E9FBFE;
    --color-blue: #08526C;
    --color-blue-one: #57BADC;
    --color-green: #24B37F;
    --color-black: #181818;
    --color-card-grey: #4A4A4A;
    --color-card-grey-one: #858585;
    --color-grey: #D9D9D9;
    --color-stroke: #F3F3F3;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif!important;
}
img {
    object-fit: contain;
    max-width: 100%;
}
a {
    color: inherit;
    text-decoration: none;
}
.container {
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 20px;
}
.visually-hidden {
    border: 0;
    padding: 0;
    margin: 0;
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
    clip: rect(1px, 1px, 1px, 1px); /*maybe deprecated but we need to support legacy browsers */
    clip-path: inset(50%); /*modern browsers, clip-path works inwards from each corner*/
    white-space: nowrap; /* added line to stop words getting smushed together (as they go onto seperate lines and some screen readers do not understand line feeds as a space */
}
.icon-logo {
    width: 99px;
    text-align: center;
}
.icon-logo img {
    width: 66px;
    height: 62px;
    margin-bottom: 5px;
}
.icon-logo p {
    font-family: 'Roboto', sans-serif!important;
    font-weight: 700;
    font-size: 10px;
    line-height: 12px;
    text-transform: uppercase;
    color: #00869D;
}
.phone-link {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: var(--color-black);
    transition: color .2s;
}
.phone-link svg {
    margin-right: 5px;
}
.section-row {
    --section-row-x: 40px;
    --section-row-y: 40px;
    display: flex;
    flex-wrap: wrap;
    margin-right: calc(-0.5 * var(--section-row-x));
    margin-left: calc(-0.5 * var(--section-row-x));
    margin-top: calc(-1 * var(--section-row-y));
}
.section-row > * {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--section-row-x) * 0.5);
    padding-left: calc(var(--section-row-x) * 0.5);
    margin-top: var(--section-row-y);
}
.section-col-3 {
    flex: 0 0 auto;
    width: 25%;
}
.section-col-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
}
.section-col-6 {
    flex: 0 0 auto;
    width: 50%;
}
.section-col-12 {
    flex: 0 0 auto;
    width: 100%;
}
.section-pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}
.section-pagination__item {
    cursor: pointer;
    background: none;
    border: none;
    line-height: 19px;
    color: var(--color-card-grey-one);
    margin: 0 17px;
    height: 24px;
    transition: color .2s;
}
.section-pagination__item svg {
    transition: fill .2s;
}
.section-pagination__item:hover {
    color: var(--color-blue);
}
.section-pagination__item:hover svg {
    fill: var(--color-blue);
}
.section-pagination__item--active {
    color: var(--color-blue);
}
.section-title {
    display: flex;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    color: var(--color-blue);
    padding-bottom: 50px;
}
.section-title:before {
    content: '';
    width: 4px;
    background: #58BBDC;
    margin-right: 5px;
}
.section-spacing {
    padding: 90px 0;
}
/*Default End*/


/*Dropdown Theme Start*/
.tippy-box[data-theme~='default-dropdown-theme'] {
    background: none;
}
.tippy-box[data-theme~='default-dropdown-theme'] .tippy-content {
    padding: 0;
}
.tippy-box[data-theme~='default-dropdown-theme'] *::-webkit-scrollbar, .modal-container::-webkit-scrollbar {
    width: 8px;
}
.tippy-box[data-theme~='default-dropdown-theme'] *::-webkit-scrollbar-track, .modal-container::-webkit-scrollbar-track {
    background: var(--color-grey);
    border-radius: 3px;
}
.tippy-box[data-theme~='default-dropdown-theme'] *::-webkit-scrollbar-thumb, .modal-container::-webkit-scrollbar-thumb {
    background: var(--color-card-grey-one);
    border-radius: 3px;
}
/*Dropdown Theme End*/


/*Loader*/
.lds-roller {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
}
.lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #58BBDD;
    margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
}
.lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
}
.lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
}
.lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
}
.lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
}
.lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
}
.lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
}
.lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
}
@keyframes lds-roller {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
/*Loader*/


/*Btn Start*/
.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background: none;
    border: none;
    border-radius: 2px;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}
.btn-more {
    height: 50px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
    transition: box-shadow .2s;
    border-radius: 3px;
}
.btn-more:hover {
    box-shadow: none;
}
.btn-lizing {
    width: 100%;
    height: 50px;
    border: 1px solid var(--color-blue);
    filter: drop-shadow(0px 4px 16px rgba(0, 0, 0, 0.2));
    border-radius: 3px;
    color: var(--color-blue);
    transition: color, background .2s;
}
.btn-lizing::before {
    content:"";
    background-image: url("../media/icons/lizingBtnIcon.png");
    background-size: 24px 24px;
    background-repeat: no-repeat;
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-right: 10px;

}
.btn-lizing:hover {
    background: var(--color-blue);
    color: white;
}
.btn-lizing:hover::before {
    background-image: url("../media/icons/lizingBtnIcon-white.png");
}
.btn-pagination {
    width: 100%;
    height: 60px;
    background: var(--color-blue);
    border-radius: 6px;
    margin-top: 20px;
}
.btn-commercial-offer {
    background: #58BBDC;
}
/*Btn End*/

/*Custom Select Start*/
.custom-select-options {
    padding: 20px 15px;
    background: #FFFFFF;
    box-shadow: 4px 4px 20px rgba(143, 143, 143, 0.15);
    border-radius: 3px;
    overflow: auto;
    max-height: 250px;
    border: 1px solid var(--color-grey);
}
.custom-select-options__item {
    font-size: 14px;
    line-height: 17px;
    color: var(--color-card-grey-one);
    transition: color .2s;
}
.custom-select-options__item:hover, .custom-select-options__item--active {
    color: var(--color-black);
}
.custom-select-options__item:not(:first-of-type) {
    margin-top: 10px;
}
.custom-select__wrap .modal-select-options {
    display: none;
}
.custom-select-preview {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}
.custom-select-preview input {
    border: none;
    outline: none;
    width: 100%;
    color: var(--color-card-grey-one);
    font-size: 14px;
    line-height: 17px;
    cursor: pointer;
}
.custom-select-preview svg {
    transition: transform .2s;
}
.custom-select__wrap--active .custom-select-preview svg {
    transform: rotate(180deg);
}
/*Custom Select End*/


/*Modal Start*/
.modal {
    position: fixed;
    z-index: 15;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal.open {
    visibility: visible;
    opacity: 1;
    transition-delay: 0s;
}
.modal-bg {
    position: absolute;
    background: var(--color-blue);
    opacity: 0.2;
    width: 100%;
    height: 100%;
}
.modal-container {
    border-radius: 3px;
    background: #fff;
    position: relative;
    padding: 50px 30px 70px;
    max-height: 100%;
    overflow: auto;
}
.modal-close {
    position: absolute;
    right: 30px;
    top: 20px;
    outline: none;
    appearance: none;
    background: none;
    border: 0;
    cursor: pointer;
    z-index: 1;
}
.modal-title {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    color: var(--color-blue);
    margin-bottom: 50px;
}
.modal-subtitle {
    font-weight: 500;
    color: var(--color-card-grey)
}
.modal-body .modal-subtitle {
    margin: 20px 0 30px;
}
.modal__section-row {
    --section-row-x: 20px;
    --section-row-y: 15px;
}
.modal-input label {
    display: block;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 17px;
    color: var(--color-card-grey);
}
.modal-input__input {
    width: 100%;
    height: 50px;
    border: 1px solid var(--color-grey);
    border-radius: 3px;
    padding: 0 15px;
    font-size: 14px;
    line-height: 17px;
    color: var(--color-black);
    outline: none;
}
.modal textarea {
    padding-top: 20px;
    resize: vertical;
    height: auto;
}
.modal-input__input::placeholder {
    color: var(--color-grey);
}
.modal-input__error {
    background: #FFFFFF;
    border: 1px solid var(--color-stroke);
    box-shadow: 4px 4px 20px rgba(143, 143, 143, 0.15);
    border-radius: 3px;
    font-size: 10px;
    line-height: 12px;
    color: #FF0000;
    padding: 7px 25px 6px;
}
.modal-submit {
    background: var(--color-green);
    width: 100%;
    margin: 15px 0;
}
.modal-agreement__label {
    display: block;
    position: relative;
    padding-left: 26px;
    cursor: pointer;
    font-size: 10px!important;
    line-height: 12px!important;
    margin: 0!important;
    color: var(--color-card-grey);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.modal-agreement__label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.modal-agreement__checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 16px;
    width: 16px;
    border: 1px solid var(--color-grey);
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal-agreement__checkmark svg {
    display: none;
    width: 7px;
    height: 5px;
}
.modal-agreement__label input:checked ~ .modal-agreement__checkmark svg {
    display: block;
}
.modal-select-options {
    width: 360px;
}
.modal-loader, .modal-success {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.modal-success {
    padding: 0 20px;
}
.modal-success .modal-title {
    margin-bottom: 20px;
}
.modal--loader .modal-body, .modal--success .modal-body {
    visibility: hidden;
}
.modal--loader .modal-loader, .modal--success .modal-success {
    display: flex;
}
.modal-lizing .modal-container {
    max-width: 800px;
}
.modal-request .modal-container, .modal-offer .modal-container {
    max-width: 460px;
}
/*Modal End*/


/*Header Start*/
.header {
    background: white;
    position: relative;
    z-index: 3;
}
.header hr {
    border: 0;
    border-top: 1px solid var(--color-grey);
}
.header-top__wrap {
    height: 115px;
    display: flex;
    align-items: center;
}
.header-burger {
    display: none;
    width: 34px;
    height: 34px;
    background-size: 34px 34px;
    background-image: url('../media/icons/burgerMenuIcon.svg');
    background-repeat: no-repeat;
    margin: 0 0 15px auto;
}
.header-burger__wrap {
    display: none;
}
.header-reg-phone {
    display: flex;
    margin: 0 35px 0 45px;
}
.header-region {
    margin-right: 35px;
    position: relative;
}
.header-region__span {
    position: absolute;
    font-size: 10px;
    line-height: 12px;
    color: #9B9B9B;
    top: -15px;
    left: 23px;
}
.header-region__preview {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: color .2s;
}
.header-region__preview:hover {
    color: var(--color-blue);
}
.header-region__preview span {
    margin: 0 6px 0 5px;
}
.header-region__preview svg:last-of-type {
    margin-top: 3px;
    transition: transform .2s, fill .2s;
}
.header-region__preview:hover svg:last-of-type {
    fill: var(--color-blue);
}
.header-region__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 20px 20px 23px;
    background: #FFFFFF;
    border: 1px solid var(--color-stroke);
    box-shadow: 4px 4px 20px rgba(143, 143, 143, 0.15);
    border-radius: 3px;
    max-height: 400px;
    width: 240px;
    overflow: auto;
}
.header-region__list a {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: var(--color-card-grey-one);
    transition: color .2s;
}
.header-region__list a:hover {
    color: var(--color-blue);
}
.header-region__list a:not(:last-of-type) {
    margin-bottom: 10px;
}
.header-region .header-region__list {
    display: none;
}
.header-region--active .header-region__preview {
    color: var(--color-blue);
}
.header-region--active .header-region__preview svg:last-of-type {
    transform: rotate(180deg);
    fill: var(--color-blue);
}
.header-phone--mobile {
    display: none;
}
.header-phone a:hover {
    color: var(--color-blue);
}
.header-phone button {
    color: var(--color-blue);
    display: block;
    margin-left: auto;
    position: relative;
}
.header-phone button::before {
    content: '';
    height: 1px;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    background: var(--color-blue);
    opacity: 0;
    transition: opacity .2s;
}
.header-phone button:hover::before {
    opacity: 1;
}
.header-ask-search {
    display: flex;
    align-items: center;
    flex: 1;
}
.header__btn-ask {
    width: 180px;
    height: 50px;
    background: var(--color-green);
    border-radius: 3px;
    transition: box-shadow .2s;
}
.header__btn-ask:hover {
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
}
.header-search {
    flex: 1;
    position: relative;
    margin-left: 30px;
}
.header-search input {
    width: 100%;
    height: 50px;
    padding: 15px 60px 16px 15px;
    outline: none;
    line-height: 19px;
    color: var(--color-card-grey-one);
    font-size: 16px;
    border: 1px solid var(--color-blue);
    border-radius: 3px;
}
.header-search input::placeholder {
    line-height: 19px;
    color: var(--color-card-grey-one);
}
.header-search svg {
    position: absolute;
    right: 15px;
    top: 0;
    bottom: 0;
    margin: auto;
}
.header-bottom__wrap {
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-bottom .header-search, .header-bottom .header__btn-ask {
    display: none;
}
.header__btn-catalogue {
    width: 260px;
    height: 60px;
    background: var(--color-blue);
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    transition: box-shadow .2s;
}
.header__btn-catalogue:hover {
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
}
.header__btn-catalogue__icon {
    display: block;
    width: 15px;
    height: 11px;
    position: relative;
    margin-bottom: 1px;
}
.header__btn-catalogue__icon span {
    position: absolute;
    background-color: #FFFFFF;
    border-radius: 1px;
    left: 0;
    width: 100%;
    height: 1.5px;
    top: 0;
    bottom: 0;
    transition: all 0.7s;
    margin: auto!important;
}
.header__btn-catalogue__icon:after, .header__btn-catalogue__icon:before {
    content: "";
    background-color: #FFFFFF;
    border-radius: 1px;
    position: absolute;
    width: 100%;
    height: 1.5px;
    left: 0;
    transition: all 0.3s;
}
.header__btn-catalogue__icon:before {
    top: 0;
}
.header__btn-catalogue__icon:after {
    bottom: 0;
}
.header__btn-catalogue span {
    margin: 0 5px 0 10px;
}
.header__btn-catalogue svg {
    transition: transform .2s;
}
.header-menu {
    display: flex;
    align-items: center;
}
.header-menu__link {
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    color: var(--color-black);
    transition: color .2s;
}
.header-menu__link:hover {
    color: var(--color-blue);
}
.header-menu__link:hover svg {
    fill: var(--color-blue);
}
.header-menu__link--active {
    font-weight: 500;
    color: var(--color-blue);
}
.header-menu__link:not(:first-child) {
    margin-left: 30px;
}
.header-menu__link-dropdown p {
    display: flex;
    align-items: center;
    cursor: pointer;
}
.header-menu__link-dropdown p:after {
    content: url("../media/icons/dropdownArrowIcon.svg");
    width: 16px;
    height: 16px;
    margin-left: 1px;
    transition: transform .2s;
    margin-bottom: 1px;
}
.header-menu__link-dropdown__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    background: #FFFFFF;
    border: 1px solid var(--color-stroke);
    box-shadow: 4px 4px 20px rgba(143, 143, 143, 0.15);
    border-radius: 3px;
    max-height: 200px;
    width: 200px;
    overflow: auto;
}
.header-menu__link-dropdown .header-menu__link-dropdown__list {
    display: none;
}
.header-menu__link-dropdown__list a {
    font-size: 14px;
    line-height: 17px;
    color: var(--color-card-grey-one);
    text-transform: uppercase;
}
.header-menu__link-dropdown__list a:hover {
    color: var(--color-blue);
}
.header-menu__link-dropdown__list a:not(:last-child) {
    margin-bottom: 10px;
}
.header-menu__link-dropdown--active p {
    color: var(--color-blue);
}
.header-menu__link-dropdown--active p:after {
    transform: rotate(180deg);
}
/*Header End*/


/*Header Catalogue Start*/
.header-catalogue {
    width: 100%;
    position: absolute;
    left: 0;
    top: 207px;
    z-index: 2;
    transform: translate(0, -150%);
    transition: transform .4s ease-in-out;
}
body.catalogue .header-catalogue {
    display: block;
    transform: translate(0, 0);
}
body.catalogue .header__btn-catalogue svg {
    transform: rotate(180deg);
}
body.catalogue .header__btn-catalogue__icon:before {
    transform: rotate(45deg);
    top: 43%;
    background-color: white;
}
body.catalogue .header__btn-catalogue__icon:after {
    transform: rotate(-45deg);
    bottom: 42%;
    background-color: white;
}
body.catalogue .header__btn-catalogue__icon span {
    transform: scale(0);
}
.header-catalogue__wrap {
    display: flex;
}
.header-catalogue__sidebar {
    max-width: 260px;
    width: 100%;
    position: relative;
    z-index: 1;
}
.header-catalogue__sidebar-wrap {
    background: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-shadow: 4px 4px 20px rgba(143, 143, 143, 0.15);
    min-height: 836px;
}
.header-catalogue__sidebar-item {
    width: 100%;
}
.header-catalogue__sidebar-item .header-catalogue__cat {
    display: none;
}
.header-catalogue__sidebar-btn {
    height: 59px;
    width: 100%;
    border: none;
    border-bottom: 1px solid #E8E8E8;
    background: white;
    display: flex;
    align-items: center;
    padding: 0 35px;
    color: #1E1E1E;
    cursor: pointer;
}
.header-catalogue__sidebar-btn--active {
    background: var(--color-bg-one);
    border-right: 2px solid var(--color-blue-one);
}
.header-catalogue__content {
    flex: 1;
}
.header-catalogue__cat {
    box-shadow: 4px 4px 20px rgba(143, 143, 143, 0.15);
    background: white;
    padding-bottom: 70px;
}
.header-catalogue__cat-spares {
    width: 390px;
}
.header-catalogue__link {
    height: 59px;
    width: 100%;
    border: none;
    border-bottom: 1px solid #E8E8E8;
    background: white;
    display: flex;
    align-items: center;
    padding: 0 35px;
    cursor: pointer;
    color: var(--color-card-grey-one);
    line-height: 19px;
    transition: color .2s;
}
.header-catalogue__link:hover {
    color: var(--color-black);
}
.header-catalogue__item {
    padding: 20px 50px;
    position: relative;
}
.header-catalogue__item-images {
    min-height: 117px;
    padding-bottom: 10px!important;
}
.header-catalogue__item-images a span {
    display: none;
}
.header-catalogue__item-capacity, .header-catalogue__item-arrow {
    min-height: 236px;
}
.header-catalogue__item-chassis {
    min-height: 176px;
}
.header-catalogue__item-capacity a {
    width: 128px;
    white-space: nowrap;
}
.header-catalogue__item-arrow a {
    width: 48px;
    white-space: nowrap;
}
.header-catalogue__item:not(:first-of-type):after {
    content: '';
    width: 100%;
    height: 1px;
    background: #E8E8E8;
    position: absolute;
    top: 0;
    left: 0;
}
.header-catalogue__item p {
    color: var(--color-blue);
    line-height: 19px;
    padding-bottom: 41px;
    display: flex;
    align-items: center;
}
.header-catalogue__item-wrap {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: -15px -25px 0;
}
.header-catalogue__item-wrap a {
    margin: 15px 25px 0;
    color: var(--color-card-grey-one);
    line-height: 19px;
    transition: color .2s;
}
.header-catalogue__item-wrap a:hover {
    color: #1E1E1E;
}
.header-catalogue__cat-link {
    width: 260px;
    height: 60px;
    background: #58BBDD;
    margin: 30px auto 0;
}
.header-catalogue__cat-spares .header-catalogue__cat-link {
    margin: 50px auto 0;
}
.header-catalogue__cat-link svg {
    width: 13px;
    height: 13px;
    margin: 0 8px 2px 0;
}
/*Header Catalogue End*/


/*Breadcrumbs Start*/
.breadcrumbs {
    height: 45px;
}
.breadcrumbs__container {
    height: 100%;
}
.breadcrumbs-hidden .breadcrumbs__container {
    display: none;
}
.breadcrumbs ul {
    height: 100%;
    display: flex;
    align-items: center;
}
.breadcrumbs__item {
    font-size: 14px;
    line-height: 17px;
    color: var(--color-card-grey-one);
    display: flex;
}
.breadcrumbs__item:not(:last-of-type):after {
    content: url("../media/icons/breadcrumbsArrowIcon.svg");
    width: 16px;
    height: 16px;
    margin: 0 5px;
}
.breadcrumbs__item--active {
    color: var(--color-black);
}
/*Breadcrumbs End*/


/*Slider Banner Start*/
.slider-banner__swiper {
    background: var(--color-blue-one);
    height: 600px;
}
.slider-banner__swiper .swiper-slide {
    display: flex;
    align-items: center;
}
.slider-banner__slide-content {
    flex: 0 0 100%;
    color: white;
}
.slider-banner__slide-body {
    max-width: 300px;
}
.slider-banner__slide-image {
    flex: 0 0 calc(50% + 400px);
    transform: translate(-100%, 0);
}
.slider-banner__slide-content h3 {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
}
.slider-banner__slide-content p {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    margin-top: 15px;
}
.slider-banner__slide-content p span {
    font-weight: 400;
}
.slider-banner__slide-content a {
    width: 230px;
    background: var(--color-green);
    margin-top: 30px;
    position: relative;
    z-index: 1;
}
.slider-banner .swiper-pagination {
    position: static;
    margin-top: 30px;
}
.slider-banner .swiper-pagination .swiper-pagination-bullet {
    width: 14px;
    height: 14px;
    background: #FFFFFF;
    border: 1px solid var(--color-blue);
    border-radius: 2px;
    margin: 0 17px;
    opacity: 1;
    transition: box-shadow .2s;
}
.slider-banner .swiper-pagination .swiper-pagination-bullet:hover {
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
}
.slider-banner .swiper-pagination .swiper-pagination-bullet-active {
    background: var(--color-blue);
}
/*Slider Banner End*/


/*Catalogue List Start*/
.catalogue-list__container {
    display: flex;
}
.catalogue-list__item {
    flex: 1;
    height: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    background: var(--color-blue-one);
    border: 1px solid var(--color-blue);
    transition: box-shadow .2s;
}
.catalogue-list__item:hover {
    box-shadow: 3px 3px 8px rgba(0, 108, 145, 0.4);
}
.catalogue-list__item p {
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
    color: #FFFFFF;
    padding: 15px 0 20px;
}
.catalogue-list__item img {
    max-height: 63px;
}
.catalogue-list__item--active {
    background: var(--color-blue);
}
/*Catalogue List End*/


/*Section List Start*/
.section-filters {
    background: #FFFFFF;
    box-shadow: 4px 4px 20px rgba(143, 143, 143, 0.15);
    padding: 30px 0 50px;
    margin-bottom: 50px;
}
.section-filters .section-row {
    --section-row-x: 8px;
    --section-row-y: 15px;
}
.section-filters__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.section-filters__select-sort input {
    font-size: 16px;
    line-height: 19px;
    color: #08526C;
    max-width: 140px;
}
.section-filters__select-sort .custom-select-preview svg {
    fill: #08526C;
}
.section-filters__select-sort-options {
    width: 294px;
    margin-top: 15px;
    padding: 15px 10px;
}
.section-filters__select-sort-options .custom-select-options__item {
    font-size: 16px;
    line-height: 19px;
}
.section-filters__top-buttons {
    display: flex;
}
.section-filters__btn-view {
    width: 19px;
    height: 19px;
    background: #FFFFFF;
    border: 1px solid #08526C;
    border-radius: 1px;
}
.section-filters__btn-view--active {
    background: #08526C;
}
.section-filters__btn-view--active svg {
    fill: white;
}
.section-filters__btn-view:first-child {
    margin-right: 10px;
}
.section-filter__middle {
    margin: 25px 0;
}
.section-filters__bottom-left {
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 20px;
}
.section-filters__btn-all {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #08526C;
    margin-right: 25px;
}
.section-filters__btn-all:after {
    content: url("../media/icons/dropdownArrowIcon-blue.svg");
    width: 14px;
    height: 14px;
    margin-left: 5px;
}
.section-filters__bottom-checkbox label {
    display: block;
    position: relative;
    padding-right: 24px;
    cursor: pointer;
    font-size: 14px;
    line-height: 17px;
    font-weight: 500;
    color: #08526C;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.section-filters__bottom-checkbox label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.section-filters__bottom-checkbox__checkmark {
    position: absolute;
    top: 2px;
    right: 0;
    height: 14px;
    width: 14px;
    border: 1px solid #08526C;
    border-radius: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.section-filters__bottom-checkbox__checkmark svg {
    display: none;
    width: 7px;
    height: 5px;
}
.section-filters__bottom-checkbox label input:checked ~ .section-filters__bottom-checkbox__checkmark svg {
    display: block;
}
.section-filters__bottom-right {
    display: flex;
}
.section-filters__bottom-right button {
    width: 100%;
    height: 60px;
    border-radius: 3px;
    transition: box-shadow .2s;
}
.section-filters__bottom-right button:hover {
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
}
.section-filters__btn-reset {
    background: #08526C;
}
.section-filters__btn-reset svg {
    margin-right: 5px;
}
.section-filters__btn-show {
    background: #24B37F;
}
.section-filter__select .custom-select-preview {
    width: 100%;
    height: 60px;
    border: 1px solid #08526C;
    border-radius: 3px;
    padding: 0 20px;
    outline: none;
}
.section-filter__select .custom-select-preview input {
    font-size: 16px;
    line-height: 19px;
    color: #858585;
}
.section-filter__select-options {
    width: 294px;
    padding: 20px;
    max-height: 315px;
}
.section-filter__select-options .custom-select-options__item {
    font-size: 16px;
    line-height: 19px;
    color: #858585;
}
.section-filter__select-options .custom-select-options__item:hover, .section-filter__select-options .custom-select-options__item--active {
    color: var(--color-black);
}
/*Section List End*/


/*Big Card Start*/
.big-card {
    height: 100%;
    padding: 30px 20px 40px;
    border: 1px solid var(--color-stroke);
    box-shadow: 4px 4px 20px rgba(143, 143, 143, 0.15);
    border-radius: 3px;
}
.big-card h3 {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: var(--color-blue);
    word-break: break-word;
    margin-bottom: 35px;
}
.big-card__main {
    display: flex;
}
.big-card__image {
    width: 350px;
    height: 280px;
}
.big-card__image img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.big-card__info {
    margin-left: 30px;
    flex: 1;
    max-width: 160px;
}
.big-card__info-item:not(:last-of-type) {
    margin-bottom: 15px;
}
.big-card__info p {
    font-size: 12px;
    line-height: 14px;
    color: var(--color-card-grey-one);
    word-break: break-word;
}
.big-card__info p span {
    display: block;
    margin-top: 5px;
    font-size: 16px;
    line-height: 19px;
    color: var(--color-card-grey);
}
.big-card__bottom {
    display: flex;
    align-items: flex-end;
    margin: 20px 0 30px;
}
.big-card__bottom h4 {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: var(--color-blue);
    margin-right: 20px;
}
.big-card__bottom p {
    font-size: 14px;
    line-height: 17px;
    color: var(--color-blue);
    margin-bottom: 3px;
}
.big-card__buttons.section-row {
    --section-row-x: 20px;
}
.big-card__buttons a {
    background: #58BBDC;
}
/*Big Card End*/


/*About Company Start*/
.about-company__bg {
    background: var(--color-bg-one);
    padding: 50px 0 70px;
}
.about-company h6 {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: var(--color-black);
    margin-bottom: 20px;
}
.about-company p {
    line-height: 19px;
    color: var(--color-card-grey);
}
.about-company p:not(:last-of-type) {
    margin-bottom: 10px;
}
.about-company img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/*About Company End*/


/*Form Banner Start*/
.form-banner {
    position: relative;
    padding: 50px 0 60px;
    color: white;
    text-align: center;
    overflow: hidden;
}
.form-banner__container {
    position: relative;
    z-index: 1;
}
.form-banner h2 {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
}
.form-banner p {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    margin: 20px 0 50px;
}
.form-banner-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), linear-gradient(0deg, rgba(8, 82, 108, 0.8), rgba(8, 82, 108, 0.8));
}
.form-banner-bg img {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    z-index: -1;
    object-fit: cover;
}
.form-banner__form {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.form-banner__form > * {
    width: 260px;
    height: 50px;
}
.form-banner__form-input {
    position: relative;
}
.form-banner__form-input input {
    width: 100%;
    height: 100%;
    border: 1px solid #FFFFFF;
    border-radius: 3px;
    background: none;
    outline: none;
    line-height: 19px;
    color: #FFFFFF;
    padding: 0 20px;
}
.form-banner__form-input input::placeholder {
    color: white;
}
.form-banner__form-input--error::before {
    content: 'Поле обязательно к заполнению';
    position: absolute;
    top: -18px;
    left: 0;
    font-size: 10px;
    line-height: 12px;
    color: #FF0000;
}
.form-banner__form-input--error-phone::before {
    content: 'Неверное значение';
    position: absolute;
    top: -18px;
    left: 0;
    font-size: 10px;
    line-height: 12px;
    color: #FF0000;
}
.form-banner__form-submit {
    background: var(--color-green);
}
.form-banner .lds-roller div:after {
    background: white;
}
.form-banner__loader, .form-banner__container-success {
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    left: 0;
    top: 0;
    justify-content: center;
}
.form-banner--loader .form-banner__container, .form-banner--success .form-banner__container {
    visibility: hidden;
}
.form-banner--loader .form-banner__loader {
    display: flex;
}
.form-banner--success .form-banner__container-success {
    display: flex;
    flex-direction: column;
}
.form-banner--success .form-banner__container-success p {
    margin-bottom: 0;
}
/*Form Banner End*/


/*Why Us Start*/
.why-us h6 {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: var(--color-black);
    max-width: 560px;
}
.why-us p {
    line-height: 19px;
    color: var(--color-card-grey);
    margin: 20px 0 50px;
}
.why-us__row {
    --section-row-x: 20px;
    --section-row-y: 20px;
}
.why-us__item {
    box-shadow: 4px 4px 20px rgba(143, 143, 143, 0.15);
    border-radius: 3px;
    background: white;
}
.why-us__item-image {
    background: #58BBDC;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px 0 25px;
}
.why-us__item-image img {
    width: 100px;
    height: 100px;
}
.why-us__item h4 {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    color: #08516B;
    padding: 30px 10px 40px;
}
/*Why Us End*/


/*Producers Start*/
.producers {
    background: var(--color-bg-one);
    padding: 50px 0 70px;
}
.producers__row {
    --section-row-x: 20px;
    --section-row-y: 30px;
}
.producers__item {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 28px;
    background: #FFFFFF;
    box-shadow: 4px 4px 20px rgba(143, 143, 143, 0.15);
    border-radius: 3px;
}
/*Producers End*/


/*News Start*/
.news__row {
    --section-row-x: 30px;
    --section-row-y: 35px;
}
.news__row-bottom {
    justify-content: center;
    margin-top: 50px;
}
.news__row-bottom > * {
    margin: 0;
}
.news-card {
    background: #FFFFFF;
    box-shadow: 4px 4px 20px rgba(143, 143, 143, 0.15);
    border-radius: 3px;
    display: block;
}
.news-card__image {
    height: 280px;
}
.news-card__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.news-card__body {
    padding: 10px 10px 40px;
}
.news-card__body span {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: var(--color-card-grey-one);
}
.news-card__body p {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: var(--color-black);
    margin-top: 10px;
    word-break: break-word;
}
.news__btn-show-more {
    background: var(--color-blue);
    width: 100%;
}
/*News End*/


/*Map Start*/
.map__container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.map-dropdown__preview {
    width: 320px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    border: 1px solid var(--color-grey);
    border-radius: 3px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: var(--color-blue);
    cursor: pointer;
}
.map-dropdown__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 10px;
    background: #FFFFFF;
    border: 1px solid var(--color-stroke);
    box-shadow: 4px 4px 20px rgba(143, 143, 143, 0.15);
    border-radius: 3px;
    max-height: 320px;
    width: 320px;
    overflow: auto;
}
.map-dropdown .map-dropdown__list {
    display: none;
}
.map-dropdown__list h6 {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: var(--color-card-grey-one);
    transition: color .2s;
    cursor: pointer;
}
.map-dropdown__list h6:hover {
    color: var(--color-blue);
}
.map-dropdown__list h6:not(:last-of-type) {
    margin-bottom: 10px;
}
.map-dropdown__preview img {
    transition: transform .2s;
}
.map-dropdown--active .map-dropdown__preview img {
    transform: rotate(180deg);
}
.map-wrap {
    position: relative;
}
.map-wrap img {
    max-width: 100%;
    display: block;
    width: 100%;
}
.map-wrap__item {
    position: absolute;
    text-align: center;
    font-weight: 500;
    font-size: 10.8px;
    line-height: 14px;
    color: #000000;
    text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
    cursor: pointer;
}
.map-wrap__item::after {
    content: '';
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #58BBDC;
    border: 1px solid var(--color-blue);
    display: block;
    margin: 2px auto 0;
}
.map-wrap__item:hover {
    font-size: 12px;
    line-height: 15px;
}
.map-wrap__item:hover::after {
    width: 24px;
    height: 24px;
}
.map-wrap__item--active {
    font-size: 12px;
    line-height: 15px;
}
.map-wrap__item--active::after {
    width: 24px;
    height: 24px;
}
.map-wrap__item .map-wrap__item-card {
    display: none;
}
.map-wrap__item-card {
    background: #FFFFFF;
    box-shadow: 4px 4px 20px rgba(143, 143, 143, 0.15);
    border-radius: 10px;
    max-width: 240px;
    cursor: default;
}
.map-wrap__item-card__top {
    display: flex;
    align-items: center;
    padding: 15px;
}
.map-wrap__item-card__top img {
    width: 31px;
    height: 35px;
}
.map-wrap__item-card__top h6 {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: var(--color-blue);
    max-width: 124px;
    text-align: left;
    margin-left: 10px;
}
.map-wrap__item-card hr {
    border: 0;
    border-top: 1px solid var(--color-grey);
}
.map-wrap__item-card__info {
    padding: 15px;
}
.map-wrap__item-card__info-item {
    display: flex;
    font-size: 12px;
    line-height: 110%;
    color: var(--color-black);
}
.map-wrap__item-card__info-item-phone {
    margin-top: 10px;
    transition: color .2s
}
.map-wrap__item-card__info-item-phone:hover {
    color: var(--color-blue);
}
.map-wrap__item-card__info-item svg {
    width: 12px;
    height: 12px;
    margin-right: 5px;
}
.map-wrap__item-card__info-item span {
    flex: 1;
    text-align: left;
}
.map-wrap__item-card__link {
    line-height: 19px;
    color: var(--color-blue);
    text-transform: uppercase;
    padding: 20px 0;
    display: block;
    transition: color .2s;
    text-align: center;
}
.map-wrap__item-card__link:hover {
    color: #58BBDC;
}
/*Map End*/


/*Footer Start*/
.footer {
    background: #002E3F;
    padding: 30px 0 60px;
}
.footer__container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer-left {
    display: flex;
}
.footer-menu {
    display: flex;
    flex-wrap: wrap;
    margin-left: 80px;
}
.footer-menu__item:not(:last-of-type) {
    margin-right: 80px;
}
.footer-menu__item h5 {
    font-weight: 500;
    line-height: 19px;
    color: #FFFFFF;
    margin-bottom: 20px;
}
.footer-menu__item h5 img {
    width: 14px;
    height: 14px;
    display: none;
}
.footer-menu__item-list {
    display: flex;
}
.footer-menu__item ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.footer-menu__item ul:not(:last-of-type) {
    margin-right: 30px;
}
.footer-menu__item ul li {
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}
.footer-menu__item ul li a {
    transition: color .2s;
}
.footer-menu__item ul li a:hover {
    color: #58BBDC;
}
.footer-menu__item ul li:not(:last-of-type) {
    margin-bottom: 10px;
}
.footer-contacts svg {
    width: 18px;
    height: 18px;
    margin-right: 5px;
}
.footer-contacts span {
    font-size: 10px;
    line-height: 12px;
    color: var(--color-grey);
    margin:  0 0 5px 21px;
    display: block;
}
.footer-contacts__phone {
    margin-bottom: 30px;
}
.footer-contacts__phone a {
    color: white;
}
.footer-contacts__phone a:hover {
    color: #58BBDC;
}
.footer-contacts__phone button {
    line-height: 19px;
    color: #58BBDC;
    border-bottom: 1px solid #58BBDC;
    transition: color .2s, border-bottom-color .2s;
}
.footer-contacts__phone button:hover {
    color: #FFFFFF;
    border-bottom-color: #FFFFFF;
}
.footer-contacts__address div {
    display: flex;
    align-items: flex-start;
    max-width: 236px;
}
.footer-contacts__address p {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    flex: 1;
}
.footer-bottom {
    display: flex;
    align-items: flex-end;
}
.footer-bottom__credits p {
    font-size: 10px;
    line-height: 12px;
    color: #FFFFFF;
}
.footer-bottom__credits a {
    display: inline-block;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
    margin: 15px 0 5px;
    transition: color .2s;
}
.footer-bottom__credits a:hover {
    color: #58BBDC;
}
.footer-bottom button {
    width: 260px;
    height: 50px;
    margin-left: 84px;
    transition: color .2s;
}
.footer-bottom button:hover {
    color: var(--color-blue);
}
/*Footer End*/
